body, html {
    width: 100%;
    height: 100%;
}

body, h1, h2, h3 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

/*
a, .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #aec251;
}

a:hover, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
  color: #687430;
}
*/


footer {
    padding: 20px 0;
    background-color: #f8f8f8;
}

.push {
  clear: both;
  height: 4em;
}

p.copyright {
    margin: 15px 0 0;
}

.wrapper {
  min-height: 100%;
  height: 100%;
  height: auto !important;
  margin: 0 auto -4em;
}

/*
.alert-info {
    width: 50%;
    margin: auto;
    color: #687430;
    background-color: #e6ecca;
    border-color: #aec251;
}

.btn-default {
    border-color: #aec251;
    color: #aec251;
}

.btn-default:hover {
    background-color: #aec251;
}

.content-section {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
}
*/
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}


.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.9);
    font-size: 5em;
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.9);
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.topnav {
    font-size: 14px;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}


.editor {
    color: black;
}


.forum-layout {
    padding-top: 2px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.post-row {
    background: #e8ecf1;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}



.module-box {
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    margin-bottom: 10px;
    background: #fff;
}

.module-body {
    padding: 15px;
}

.text-slight {
    font-size: 14px;
    color: #ccc;
}

.vertical_section {
    margin: 6px 0px;
}

.app-layout{
    margin-top: 70px;
}

.post-block{
    margin-bottom: 5px;
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 10px;
}

.topic-title{
    font-size: 24px;
}

.post-content{
    margin-left: 15px;
    margin-right: 15px;
}

.forum-body {
    margin-bottom: -10px;
    padding-bottom: 0;
}