{%- macro field_label(field) -%}
    <label for="{{ field.id }}">{{ field.label.text }}</label>
{% endmacro %}


{%- macro field_description(field) -%}
    {% if field.description %}
        <span class="help-block">{{ field.description|safe }}</span>
    {% endif %}
{%- endmacro -%}


{%- macro field_errors(field) -%}
    {% if field.errors %}
        {%- for error in field.errors -%}
        <span class="help-block">{{error}}</span>
        {%- endfor -%}
    {% endif %}
{%- endmacro -%}


{%- macro render_quickreply(field, rows, cols, div_class='') -%}
{%- if kwargs['required'] or field.flags.required -%}
    {% if div_class %}
        {{ field(class=div_class, required="required", cols=cols, rows=rows, placeholder=field.label.text, **kwargs) }}
    {% else %}
        {{ field(class="new-message", required="required", cols=cols, rows=row, placeholder=field.label.text, **kwargs) }}
    {% endif %}
{%- else -%}
    {% if div_class %}
        {{ field(class=div_class, cols=cols, rows=row, placeholder=field.label.text, **kwargs) }}
    {% else %}
        {{ field(class="new-message", cols=cols, rows=row, placeholder=field.label.text, **kwargs) }}
    {% endif %}
{%- endif -%}

{{ field_description(field) }}
{{ field_errors(field) }}
{%- endmacro -%}


{%- macro render_submit_field(field, div_class='', input_class='') -%}
{% if div_class %}
<div class="{{ div_class }}">
{% endif %}

    {{ field(class=input_class or 'btn btn-success') }}

{% if div_class %}
</div>
{% endif %}
{%- endmacro -%}


{%- macro render_field(field, with_label=True, div_class='', rows='') -%}
<div class="form-group{%- if field.errors %} has-error{%- endif %}">

    <div class="{%- if div_class -%}{{ div_class }}{%- else -%}col-sm-5{%- endif -%}">
        {% if with_label %}
            <label>{{ field.label.text }}</label>
        {% endif %}

        {%- if kwargs['required'] or field.flags.required -%}
            {% if rows %}
                {{ field(class="form-control", required="required", rows=rows, placeholder=field.label.text, **kwargs) }}
            {% else %}
                {{ field(class="form-control", required="required", placeholder=field.label.text, **kwargs) }}
            {% endif %}
        {%- else -%}
            {% if rows %}
                {{ field(class="form-control", rows=rows, placeholder=field.label.text, **kwargs) }}
            {% else %}
                {{ field(class="form-control", placeholder=field.label.text, **kwargs) }}
            {% endif %}
        {%- endif -%}

        {{ field_description(field) }}
        {{ field_errors(field) }}
    </div>
</div>
{%- endmacro -%}